div.jsla-sponsors-box
    span.jsla-sponsored-by Sponsored By:
    ul.jsla-sponsors.pure-u
        each sponsor in sponsors
            li.jsla-sponsor.pure-u-1-2.layer-2
                a( alt=sponsor.name href=sponsor.url style="background-image: url(/images/hosts/#{sponsor.logo});" )
