// import pure
@import 'src/pure';

// utils and vars
@import 'src/colors';
@import 'src/typography';
@import 'src/buttons';
@import 'src/layers';

// components
@import 'src/component/navigation';
@import 'src/component/hero';
@import 'src/component/speaker';
@import 'src/component/sponsors-box';

// base
html,
body {
    min-height: 100%;
    height: 100%;
    background: @lightGrey;
}

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.jsla-toplevel-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    .clearfix();
}

* {
    box-sizing: border-box;
}
