// import pure
@import 'src/pure';

// utils and vars
@import 'src/colors';
@import 'src/typography';
@import 'src/buttons';
@import 'src/layers';

// components
@import 'src/component/navigation';
@import 'src/component/hero';
@import 'src/component/speaker';

// base
html,
body {
    min-height: 100%;
    height: 100%;
    background: @lightGrey;
}
