header.jsla-hero.layer-1
    div.jsla-hero-content
        a.jsla-hero-logo( href="/" )
            img(src='/images/logotype-trans.png')
            span.jsla-tagline.jsla-large-text The Los Angeles Javascript meetup.

        p.jsla-hero-next.jsla-large-text
            strong Next Event:
            span  Thursday, Sept. 30th in Los Angeles

        ul.jsla-hero-speakers
            // loop here 
            li
                a speaker

        div.jsla-hero-buttons
            a.pure-button.jsla-button-xlarge( href="#" ) RSVP for next event
            a.pure-button.jsla-button-xlarge( href="#" ) Join mailing list