nav.pure-menu.pure-menu-open.pure-menu-horizontal.jsla-topnav.layer-2
    ul
        li        
            a(href="/") Upcoming Events
        li
            a(href="/events/2014") Past Events
        li
            a(href="https://twitter.com/jsdotla") Twitter
        li
            a(href="mailto:hello@js.la") Become a Presenter
        li
            a(href="mailto:hello@js.la") Become a Sponsor
        li
            a(href="http://eepurl.com/jdRNb") Newsletter