nav.pure-menu.pure-menu-open.pure-menu-horizontal.jsla-topnav.layer-2
    ul
        li        
            a(href="/") Upcoming Event
        li
            a(href="/events/2014") Past Events
        li
            a(href="/code-of-conduct") Code of Conduct
        li
            a(href="http://eepurl.com/jdRNb") Newsletter