div.jsla-sponsors-box
    span.jsla-sponsored-by Sponsored By:
    ul.jsla-sponsors.pure-u.layer-2
        each sponsor in sponsors
            li.jsla-sponsor.pure-u-1-2
                a( alt=sponsor.name href=sponsor.url style="background-image: url(/images/hosts/#{sponsor.logo});" )
    a.jsla-sponsor-link( href="mailto:info@jsla.com" ) Become a sponsor