ul.jsla-speakers-list
    != partial( "_speaker", { image: "speaker.png", speaker: 'You', title: "PSA: Want to present?", description: "Hit us up on [@jsdotla](https://twitter.com/jsdotla). We are looking for more talks for future meetup. If you want to present, let us know." })
