.jsla-hero {
    min-height: 95%;
    background: @primary;
    text-align: center;
    display: table;
    width: 100%;
    padding-bottom: 2em;
}

.jsla-hero-down-arrow {
    margin-top: -2em;
    text-align: center;
}

.jsla-hero-table {
    display: table-cell;
    vertical-align: middle;
    max-width: 600px;
}

.jsla-hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.jsla-hero-logo {
    display: inline-block;
    img {
        vertical-align: middle;
        width: 140px;
    }
    .jsla-tagline {
        padding-left: 1em;
        display: inline-block;
    }
}

.jsla-hero-speakers {
    list-style-type: none;
    background: white;
    padding: 0;
    .jsla-speaker {
        min-height: 35px;
        position: relative;
        border-bottom: 1px solid @lightGrey;
    }
    .jsla-speaker .jsla-speaker-details {
        margin-left:  35px;
    } 
    .jsla-speaker .jsla-avatar {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .jsla-speaker h1,
    .jsla-speaker h2 {
        line-height: 35px;
        margin: 0;
        font-size: 1em;
        padding: 0 1em;
        font-weight: 500;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .jsla-speaker h2 {
        color: @mediumGrey;
        font-size: 1em;
    }
}

.jsla-hero-buttons {
    .pure-button {
        margin-left: 1em;
    }
    .pure-button:first-of-type {
        margin-left: 0;
    }
}

