.jsla-venue-container {
    background: white;
}

.jsla-venue-info {
    padding: .01em 1em;
}

.jsla-venue-map {
    height: 400px;
    width: 100%;
    text-align: center;
    display: table;
    background-position: center center;
}

.jsla-venue-map .jsla-marker {
    display: table-cell;
    vertical-align: middle;
}